* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #616161;
  font-weight: bold;
}

h2 {
  margin: 0;
}

.container {
  padding: 10px;
}